@model Infrastructure.CoreSetup.DTOs.ChangePassword
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb
{
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Core Setup Utility</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Change Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>
                Change Password
            </h5>
            <span class="d-block float-right">
                <a href="javascript:void(0);" class="badge badge-warning" onclick="javascript:history.go(-1);" data-toggle="tab" title="Go Back"><i class="mdi mdi-chevron-double-left"></i> Back</a>
            </span>
        </div>
        <div class="card-body">
            <form method="post" asp-action="ChangePassword" asp-controller="CoreSetupUtility" id="change-password-form">
                <div class="">

                    <div class="form-group">
                        <label>Old Password</label>
                        <input asp-for="OldPassword" class="form-control" placeholder="Enter Old Password">
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="Enter New Password">
                        @Html.ValidationMessageFor(m => m.NewPassword)


                        <div id="strengthIndicator">
                            <small>Strength:</small> <span id="strengthLabel" class="strength-label">Empty</span>
                            <span class="strength-indicator"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Re Type Password</label>
                        <input asp-for="ReTypePassword" class="form-control" placeholder="Re-Enter New Password">
                        @Html.ValidationMessageFor(m => m.ReTypePassword)
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $.validator.addMethod("pwdstrength", function (value) {
            return /^[A-Za-z0-9\d=!\-@@._*]*$/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        });
        $("#change-password-form").validate({
            rules: {
                OldPassword: "required",
                NewPassword: {
                    required: true,
                    pwdstrength: true
                },
                ReTypePassword: {
                    required: true,
                    equalTo: "#NewPassword"
                },
            },
            messages: {
                OldPassword: "Please Enter Old Password",
                NewPassword: {
                    required: "Please Enter New Password",
                    pwdstrength: "Password should contain at least one letter, one capital letter, one numerical value and one special character"
                },
                ReTypePassword: {
                    required: "Please Enter Re Type Password",
                    equalTo: "Enter Password don't match"
                },
            }
        });
    </script>
}
