.fixed-button {
  display: none !important;
}
label {
  margin-bottom: 0;
}
body {
  background: #4680ff !important;
}
.pcoded-header {
  background: #06213F !important;
}
.pro-head {
  background: #06213F !important;
}
