@primary-color: #06213F;
@secondary-color: #4680ff;
@tertiary-color: #ff0000;

//Theme Customizations
.fixed-button {
    display: none !important;
}

label {
    margin-bottom: 0;
}

body {
    background: @secondary-color  !important;
}

.pcoded-header {
    background: @primary-color  !important;
}

.pro-head {
    background: @primary-color  !important;
}