@primary-color: #06213F;
@secondary-color: #4680ff;
@tertiary-color: #000;


//Error And Highlights
input[type=text].error,
input[type=text].error:focus,
input[type=password].error,
input[type=password].error:focus,
input[type=email].error,
input[type=email].error:focus,
input[type=number].error,
input[type=number].error:focus,
select.error,
select.error:focus,
textarea.error,
textarea.error:focus {
    border-color: red;
    border-bottom: 1px solid red;
}


.error {
    color: red;
    font-size: 12px;
}


//Buttons

.btn-round {
    height: 40px;
    width: 40px;
    line-height: 38px;
}

.btn-round i {
    margin: 0px;
    font-size: 16px;
}

.btn-round.btn-lg {
    height: 45px;
    width: 45px;
    line-height: 42px;
}

.btn-round.btn-lg i {
    margin: 0px;
    font-size: 20px;
}

.btn-round.btn-md {
    height: 40px;
    width: 40px;
    line-height: 38px;
}

.btn-round.btn-sm {
    height: 30px;
    width: 30px;
    line-height: 28px;
}

.btn-round.btn-sm i {
    font-size: 14px;
}

.btn-round.btn-default {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #E0E2E5;
    color: #E0E2E5;
}

.btn-round.btn-default:hover,
.btn-round.btn-default:focus {
    background: #eeeff1;
    border: 1px solid #E0E2E5;
    color: #fff;
}

.btn-round.btn-primary {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #08CAA8;
    color: #08CAA8;
}

.btn-round.btn-primary:hover,
.btn-round.btn-primary:focus {
    background: #09e3bc;
    border: 1px solid #08CAA8;
    color: #fff;
}

.btn-round.btn-success {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #63dc3f;
    color: #63dc3f;
}

.btn-round.btn-success:hover,
.btn-round.btn-success:focus {
    background: #75e055;
    border: 1px solid #63dc3f;
    color: #fff;
}

.btn-round.btn-warning {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #eda515;
    color: #eda515;
}

.btn-round.btn-warning:hover,
.btn-round.btn-warning:focus {
    background: #efae2d;
    border: 1px solid #eda515;
    color: #fff;
}

.btn-round.btn-danger {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #ff2801;
    color: #ff2801;
}

.btn-round.btn-danger:hover,
.btn-round.btn-danger:focus {
    background: #ff3e1b;
    border: 1px solid #ff2801;
    color: #fff;
}

.btn-round.btn-link {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #ddd;
    color: #ddd;
    color: #08CAA8;
}

.btn-round.btn-link:hover,
.btn-round.btn-link:focus {
    background: #eaeaea;
    border: 1px solid #ddd;
    color: #fff;
}

.btn-round.btn-link:hover,
.btn-round.btn-link:focus {
    color: #08CAA8;
}

.btn-round-fill {
    height: 40px;
    width: 40px;
    line-height: 38px;
}

.btn-round-fill i {
    margin: 0px;
    font-size: 16px;
}

.btn-round-fill.btn-lg {
    height: 45px;
    width: 45px;
    line-height: 42px;
}

.btn-round-fill.btn-lg i {
    margin: 0px;
    font-size: 20px;
}

.btn-round-fill.btn-md {
    height: 40px;
    width: 40px;
    line-height: 38px;
}

.btn-round-fill.btn-sm {
    height: 35px;
    width: 35px;
    line-height: 32px;
}

.btn-round-fill.btn-default {
    padding: 0px;
    text-align: center;
    background: #E0E2E5;
    border-radius: 100%;
    border: 2px solid #E0E2E5;
    color: #fff;
}

.btn-round-fill.btn-default:hover,
.btn-round-fill.btn-default:focus {
    background: #eeeff1;
    border: 2px solid #E0E2E5;
    color: #fff;
}

.btn-round-fill.btn-primary {
    padding: 0px;
    text-align: center;
    background: #08CAA8;
    border-radius: 100%;
    border: 2px solid #08CAA8;
    color: #fff;
}

.btn-round-fill.btn-primary:hover,
.btn-round-fill.btn-primary:focus {
    background: #09e3bc;
    border: 2px solid #08CAA8;
    color: #fff;
}

.btn-round-fill.btn-success {
    padding: 0px;
    text-align: center;
    background: #63dc3f;
    border-radius: 100%;
    border: 2px solid #63dc3f;
    color: #fff;
}

.btn-round-fill.btn-success:hover,
.btn-round-fill.btn-success:focus {
    background: #75e055;
    border: 2px solid #63dc3f;
    color: #fff;
}

.btn-round-fill.btn-warning {
    padding: 0px;
    text-align: center;
    background: #eda515;
    border-radius: 100%;
    border: 2px solid #eda515;
    color: #fff;
}

.btn-round-fill.btn-warning:hover,
.btn-round-fill.btn-warning:focus {
    background: #efae2d;
    border: 2px solid #eda515;
    color: #fff;
}

.btn-round-fill.btn-danger {
    padding: 0px;
    text-align: center;
    background: #ff2801;
    border-radius: 100%;
    border: 2px solid #ff2801;
    color: #fff;
}

.btn-round-fill.btn-danger:hover,
.btn-round-fill.btn-danger:focus {
    background: #ff3e1b;
    border: 2px solid #ff2801;
    color: #fff;
}

.btn-round-fill.btn-link {
    padding: 0px;
    text-align: center;
    background: #ddd;
    border-radius: 100%;
    border: 2px solid #ddd;
    color: #fff;
    color: #08CAA8;
}

.btn-round-fill.btn-link:hover,
.btn-round-fill.btn-link:focus {
    background: #eaeaea;
    border: 2px solid #ddd;
    color: #fff;
}

.btn-round-fill.btn-link:hover,
.btn-round-fill.btn-link:focus {
    color: #08CAA8;
}

//Strength Password
.strength-title {
    font-size: 12px;
}

.strength-label {
    font-size: 12px;
    font-weight: 700;
}

.strength-indicator {
    background-color: #cccccc;
    border-radius: 2px;
    display: block;
    height: 6px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;

    &:after {
        content: "";
        display: block;
        height: 100%;
    }
}

.strength-danger {
    .strength-label {
        color: #ff2801;
    }

    .strength-indicator {
        &:after {
            background-color: #ff2801;
            width: 25%;
        }
    }
}

.strength-warning {
    .strength-label {
        color: #eda515;
    }

    .strength-indicator {
        &:after {
            background-color: #eda515;
            width: 50%;
        }
    }
}

.strength-success {
    .strength-label {
        color: #63dc3f;
    }

    .strength-indicator {
        &:after {
            background-color: #63dc3f;
            width: 100%;
        }
    }
}

//Datatable Customization
// Data Table Custom Design
table.dataTable {
    border-bottom: 0px;
    border-collapse: collapse;
    display: inline-table;
    margin: 15px auto !important;
    width: 100% !important;

    thead {
        tr>th {
            background-color: @secondary-color;
            border-bottom: 1px solid @secondary-color;
            color: #FFF;
            font-weight: 500;
            font-size: 15px;
            padding: 10px 10px;
            vertical-align: middle;
        }

        tr>th>label {
            margin: 0px;

            input[type='checkbox'] {
                margin: 0px;
            }
        }
    }

    tbody {
        tr.selected {
            background-color: #FFFBED !important;
        }

        tr.unread {
            background-color: #f4f4f4;
        }

        tr.unread>td {
            color: #2C343F;
            font-weight: 600;
        }

        tr.unread>td>a {
            font-weight: 400;
        }

        tr>td {
            border-bottom: 1px solid #ccd0d4;
            padding: 5px 10px;
            vertical-align: middle;
            font-size: 14px;
        }

        tr>td>label {
            margin: 0px;

            input[type='checkbox'] {
                margin: 0px;
            }
        }
    }
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td {
    &:first-child {
        before {
            -webkit-box-shadow: 0px 0px 0px 1px #ddd;
            box-shadow: 0px 0px 0px 1px #ddd;
            top: 12px;
        }
    }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th {
    &:first-child {
        before {
            -webkit-box-shadow: 0px 0px 0px 1px #ddd;
            box-shadow: 0px 0px 0px 1px #ddd;
            top: 12px;
        }
    }
}

.dataTables_wrapper {
    .dataTables_filter {
        input[type="search"] {
            background: #f4f4f4;
            border-radius: 4px;
            border: 1px solid #ccd0d4;
            color: @tertiary-color;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857143;
            padding: 6px 12px;

            &:focus {
                border-color: @secondary-color;
                outline: none;
            }
        }
    }

    .dataTables_length {
        select {
            background-color: #FFF;
            background-image: none;
            border-radius: 4px;
            border: 1px solid #cccccc;
            color: @tertiary-color;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857143;
            padding: 6px 12px;

            &:focus {
                border-color: @secondary-color;
                outline: none;
            }
        }
    }

    .dataTables_paginate {
        .paginate_button {
            background: @secondary-color  !important;
            border-radius: 50% !important;
            border: 0 !important;

            &:hover {
                -webkit-box-shadow: none;
                background: @secondary-color;
                border-color: @secondary-color;
                box-shadow: none;
                color: #FFF !important;
            }

            &:focus {
                -webkit-box-shadow: none;
                background: @secondary-color;
                border-color: @secondary-color;
                box-shadow: none;
                color: #FFF !important;
            }

            &:active {
                -webkit-box-shadow: none;
                background: @secondary-color;
                border-color: @secondary-color;
                box-shadow: none;
                color: #FFF !important;
            }

            &:visited {
                -webkit-box-shadow: none;
                background: @secondary-color;
                border-color: @secondary-color;
                box-shadow: none;
                color: #FFF !important;
            }
        }

        .paginate_button.current {
            background: @secondary-color;
            border-color: @secondary-color;
            color: #FFF !important;

            &:hover {
                background: @secondary-color;
                border-color: @secondary-color;
                color: #FFF !important;
            }

            &:focus {
                background: @secondary-color;
                border-color: @secondary-color;
                color: #FFF !important;
            }

            &:active {
                background: @secondary-color;
                border-color: @secondary-color;
                color: #FFF !important;
            }

            &:visited {
                background: @secondary-color;
                border-color: @secondary-color;
                color: #FFF !important;
            }
        }

        .paginate_button.previous {
            border-radius: 20px !important;
            border: 1px solid #ccd0d4;
            width: 100px !important;
        }

        .paginate_button.next {
            border-radius: 20px !important;
            border: 1px solid #ccd0d4;
            width: 100px !important;
        }
    }

    .dt-buttons {
        margin-left: 15px;

        .dt-button.button-notification {
            border-color: #ccd0d4;
            border-radius: 3px;
            color: #3D4246;
            text-transform: uppercase;
        }
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:visited {
    background: #E0E2E5;
    border: 1px solid #ccd0d4;
    color: #FFF !important;
    cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #FFF !important;
}




//Disable Field
.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}


//Select2 Customization

.select2-dropdown {
    border: 1px solid #ccc;
}

.select2.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-container--default .select2-selection--single {
    height: 40px;
    border: none;
    border-bottom: 1px solid #CCC;
    outline: none;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

.select2-container--default .select2-selection--single.error {
    border-bottom: 1px solid red;
}


//Sweet Alert Customization
.swal2-styled:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.swal2-popup {
    font-size: 1em !important;
}